
footer {
   width:100vw;
   padding:1em;
   text-align: center;
   position: fixed;
   bottom:0px;
   left:0px;
   z-index:10;
   background-color:#ffffff;
}

main {
    margin-top: 1em;
    margin-bottom:5em;
}

.navbar-brand h1{
    font-size: calc(1rem + 0.5vw);
}

